html    {
    box-sizing: border-box;
    background-color: #141D26;
}

*   {
    padding: 0;
    margin: 0;
}

body    {
    font-family: 'sans pro', sans-serif;
    font-size: 1rem;
    height: 100vh;
    color: white;
}

div   {
    margin: auto;
}

.container    {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 539px;
    min-width: 460px;
    border-radius: 10px;
    background-color: #243447;
    padding: 31px 35px;
    margin: 0;
    box-shadow: 0px 15px 60px #132233;
}

.profile_container  {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.profile    {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-left: 0;
}

.profile_picture    {
    width: 50px;
    margin-right: 22px;
}

.profile_name   {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile_id     {
    font-size: 16px;
    opacity: 60%;
}

.logo_placement {
    text-align: right;
    margin-right: 0;
}

.twit   {
    font-weight: 100;
    font-size: 16px;
    line-height: 26px;
}

.hashtag    {
    color: #1DA1F2;
}

.status_container   {
    display: flex;
    flex-direction: row;
    height: 26px;
    width: auto;
    margin-top: 15px;
}

.status_container p {
    opacity: 60%;;
}

.love   {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

svg {
    margin-right: 10px;
}

.date   {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px 0px 0px;
}
